@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700&display=swap");

/* font-family: 'Abril Fatface', cursive;
font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  line-height: 1.5em;
  color: #616060;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.error-box{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 4px;
}

.error{
  font-family: "Metro Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 0.87rem;
  line-height: 1.43;
  margin: 0px;
  color: rgb(255, 64, 43);
  text-align: inherit;
}
body {
  height: 100vh;
  display: flex;
}

.main {
  width: 50%;
  height: 90%;
  
  margin: auto;
  /* display: flex; */
  /* background: rgb(249, 63, 76); */
  align-items: center;
}


.link{
  position: relative;
  left: 40%;
}

.home {
  padding: 20px;
  width: 100%;
  height: 78%;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  display: flex; /* flex or none */
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(18, 120, 123, 0.2);
  transition: all 0.1s ease-in 0.1s;  
  margin-top: 5%;
  opacity: 1;
  transition: all 0.4s ease-in 0.2s;
  }
 
form{
  width: 60%;
  height: 100%;
}

.logo{
height: 45px;
}


.text1{
position: relative;
margin: 20px;
}

.text2{
position: relative;
margin: 20px;
margin-bottom: -25px;
}

.text3{
position: relative;
margin: 20px;
}

.email{
font-size: 20px;
font-weight: bold;
color: #323337;
margin-bottom: 8px;
position: relative;
}

.email-box{
  border: 1px solid #d2d4e0;
  border-radius: 7px;
  display: inline-flex;
  flex-direction: row;
  color: #303441;
  height: 60px;
  width: 100%;
  font-size: 16px;
  flex-direction: row;
  padding: 13px;
  margin-bottom: 3px;
}




.input{
  width: 100%;
  border-style: none;
  font-size: 18px;
  text-align: left;
  color: inherit;
}
.pw{
  font-size: 20px;
  font-weight: bold;
  color: #323337;
  margin-bottom: 8px;
  position: relative;
  }

.pw-box{
  border: 1px solid #d2d4e0;
  border-radius: 7px;
  display: inline-flex;
  flex-direction: row;
  color: #303441;
  height: 60px;
  width: 100%;
  font-size: 16px;
  flex-direction: row;
  padding: 13px;
  margin-bottom: 3px;
}

.pw-rebox{
  border: 1px solid #d2d4e0;
  border-radius: 7px;
  display: inline-flex;
  flex-direction: row;
  color: #303441;
  height: 60px;
  width: 100%;
  font-size: 16px;
  flex-direction: row;
  padding: 13px;
  margin-bottom: 3px;
}

.re-input{
  width: 100%;
  border-style: none;
  font-size: 18px;
  text-align: left;
  color: inherit;
}

.btn-box{
  box-sizing: border-box;
  border-radius: 6px;
  align-items: center;
  position: relative;
  max-width: 100%;
  width: 83%;
  height: 70px;
  background-color: rgb(204, 232, 226);
  border-style:none ;
  margin-left: 50px;
}

.btn{
  font-weight: bold;
  font-size: 21px;
  color: #353539;
}

.btn-box:hover {
	background-color: rgb(189, 244, 236);
	font-weight: 900;
	color: black;
}
  