<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeshot.mapper.PortfolioMapper">
	<!-- 포트폴리오 업로드, 고정연  -->
	<insert id="uploadPortfolio" parameterType="PortfolioDTO">
		insert into TBL_PORTFOLIO values(TBL_PORTFOLIO_seq.nextval,#{mem_email},#{pf_file})
	</insert>
	
	<!-- 글쓴이 포트폴리오 출력, 고정연 -->
	<select id="showWriterPortfolio" resultType="PortfolioDTO">
		select * from TBL_PORTFOLIO where mem_email = #{mem_mail} 
	</select>

	<!-- 포트폴리오 번호로 출력, 고정연 -->
	<select id="showPortfolioOne" resultType="PortfolioDTO">
		select * from TBL_PORTFOLIO where pf_num = #{pf_num} 
	</select>

	<!-- 게시물 이미지 출력, 고정연 -->
	<select id="showImage" parameterType="String" resultType="PortfolioDTO">
		select * from TBL_PORTFOLIO where mem_email = #{mem_email} and rownum = 1
	</select>
	
	<!-- 포트폴리오 삭제, 고정연 -->
	<select id="deletePortfolio">
		delete from TBL_PORTFOLIO where pf_num = #{pf_num}
	</select>
</mapper>