<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeshot.mapper.PostMapper">
	
	<!-- 게시글 전체출력, 조영찬 -->
	<select id="showPost" resultType="PostDTO">
		select * from tbl_post order by post_num desc
	</select>
	
	<!-- 게시글 검색, 김지수 -->
	<select id="searchPost" parameterType="String" resultType="PostDTO">
		select * from tbl_post where POST_TITLE like  '%'||#{userInput}||'%'
	</select>
	
	<!-- 소스코드 게시글 작성, 고정연 -->
	<insert id="uploadCodePost" parameterType="PostDTO">
		insert into tbl_post values(tbl_post_seq.nextval,#{post_category},#{mem_email},#{post_title},#{post_explain},#{post_standard},#{post_precautions},#{post_price},#{post_file})
	</insert>

	<!-- 외주 게시글 작성, 고정연 -->
	<insert id="uploadOtsPost" parameterType="PostDTO">
		insert into tbl_post(post_num,post_category,mem_email,post_title,post_explain,post_standard,post_precautions,post_price) values(tbl_post_seq.nextval,#{post_category},#{mem_email},#{post_title},#{post_explain},#{post_standard},#{post_precautions},#{post_price})
	</insert>
	
	<!-- 게시글 상세 페이지 출력, 고정연  -->
	<select id="showPostDetail" resultType="PostDTO">
		select * from tbl_post where post_num = #{post_num}
	</select>
	
	<!-- 게시글 관리 목록 출력, 고정연 -->
	<select id="showMyPost" resultType="PostDTO">
		select * from tbl_post where mem_email = #{mem_email}
	</select>
	
	<!-- 게시글 수정(첨부파일 수정 있음), 고정연 -->
	<select id="updatePostFileY" parameterType="PostDTO">
		update tbl_post set post_category = #{post_category}, post_title = #{post_title}, post_explain = #{post_explain}, post_standard = #{post_standard}, post_precautions = #{post_precautions}, post_price = #{post_price}, post_file = #{post_file} where post_num = #{post_num}
	</select>

	<!-- 게시글 수정(첨부파일 수정 없음), 고정연 -->
	<select id="updatePostFileN" parameterType="PostDTO">
		update tbl_post set post_category = #{post_category}, post_title = #{post_title}, post_explain = #{post_explain}, post_standard = #{post_standard}, post_precautions = #{post_precautions}, post_price = #{post_price} where post_num = #{post_num}
	</select>
	
	<!-- 게시글 삭제, 고정연 -->
	<select id="deletePost">
		delete from tbl_post where post_num = #{post_num}
	</select>
	
</mapper>