<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeshot.mapper.WishListMapper">

	<!-- 찜목록 검색, 김지수 -->
	<select id="wishList" parameterType="String" resultType="WishListDTO">
		select B.post_num, B.post_category, B.mem_email, B.post_title, B.post_price, B.post_file
		from tbl_wishlist A, tbl_post B
		where (A.post_num = B.post_num) 
			and (A.mem_email = #{email}
			)
	</select>
	
	<!-- 찜목록 삭제, 김지수 -->
	<delete id="deleteWishPost" parameterType="WishListDTO">
		delete from tbl_wishlist where (post_num=#{post_num}) and (mem_email=#{mem_email})
	</delete>
	
	<!-- 찜목록에 게시글 추가, 김지수 -->
	<insert id="WishAddService" parameterType="WishListDTO">
		insert into tbl_wishlist
		(
			post_num,
			mem_email,
			wish_date
		)
		values
		(
			#{post_num},
			#{mem_email},
			sysdate
		)
	</insert>
</mapper>